:root {
  --color-primary-600: hsl(216, 40%, 28%);
  --color-primary-500: hsl(216, 35%, 35%);
  --color-primary-400: hsl(216, 30%, 45%);

  --color-accent-600: hsl(27, 95%, 38%);
  --color-accent-500: hsl(27, 90%, 42%);
  --color-accent-400: hsl(27, 80%, 50%);

  --color-background-900: hsl(216, 40%, 25%);

  --color-background-200: hsl(216, 10%, 95%);
  --color-background-100: hsl(216, 10%, 97%);

  --color-text-900: hsla(0, 0%, 0%, 0.75);
  --color-text-800: hsla(0, 0%, 0%, 0.7);
  --color-text-700: hsla(0, 0%, 0%, 0.55);

  --color-text-100: hsla(0, 0%, 100%, 0.92);

  // Names and namespaces.
  --color-highlight-text: hsl(240, 35%, 99%);
  // Background.
  --color-highglight-background: hsl(240, 13%, 14%);
  // Comments.
  --color-highglight-comment: hsl(250, 25%, 55%);
  // Exceptions and types.
  --color-highglight-special: hsl(180, 75%, 55%);
  // Operators and parenthesis.
  --color-highglight-operator: hsl(330, 95%, 75%);
  // Literals and keywords.
  --color-highglight-literal: hsl(250, 80%, 70%);
}
