<header>
    <nav class="navbar">
        <ul class="navbar-container">
            <li class="navbar-logo">
                {{ .Site.Title }}
            </li>
            <li class="navbar-spacer"></li>
            {{ $current := . }}
            {{ range .Site.Menus.main }}
            <li>
              <a href="{{ absLangURL .URL }}" class="navbar-item
              {{- if or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
              navbar-item-active
              {{- end -}}">
                  {{ .Name }}
              </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
