.button {
  @include transition('all');
  @include shadow;

  border: none;
  border-radius: 100em;
  display: inline-block;
  font-size: map-get($font-sizes, 'medium');
  font-weight: bold;
  padding: 1rem 2rem;
  text-decoration: none;

  &:active {
    @include shadow(0.2em);
  }

  &-primary {
    $primary-color: map-get($colors, 'primary');
    $text-color: map-get($colors, 'dark-text');

    background: $primary-color;
    color: $text-color;

    &:hover {
      background: darken($primary-color, 10%);
      color: $text-color;
    }

    &:active {
      background: darken($primary-color, 15%);
      color: $text-color;
    }
  }

  &-accent {
    $accent-color: map-get($colors, 'accent');
    $text-color: map-get($colors, 'dark-text');

    background: $accent-color;
    color: $text-color;

    &:hover {
      background: darken($accent-color, 10%);
      color: $text-color;
    }

    &:active {
      background: darken($accent-color, 15%);
      color: $text-color;
    }
  }
}
