.button {
  @include transition('all');
  @include shadow;

  border: none;
  border-radius: 100em;
  display: inline-block;
  font-size: map-get($font-sizes, 'medium');
  font-weight: bold;
  padding: 1rem 2rem;
  text-decoration: none;

  &:active {
    @include shadow(0.2em);
  }

  &-primary {
    $primary: map-get($colors, 'primary');
    $text: map-get($colors, 'dark-text');

    background: $primary;
    color: $text;

    &:hover {
      background: darken($primary, 10%);
      color: $text;
    }

    &:active {
      background: darken($primary, 15%);
      color: $text;
    }
  }

  &-accent {
    $accent: map-get($colors, 'accent');
    $accent-text: map-get($colors, 'dark-text');

    background: $accent;
    color: $accent-text;

    &:hover {
      background: darken($accent, 10%);
      color: $accent-text;
    }

    &:active {
      background: darken($accent, 15%);
      color: $accent-text;
    }
  }
}
