.button {
  @include transition('all');
  @include shadow;

  border: none;
  border-radius: 100em;
  display: inline-block;
  font-size: map-get($font-sizes, 'medium');
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;

  &:active {
    @include shadow(0.2em);
  }

  &-primary {
    $primary-color: map-get($colors, 'primary');

    background: $primary-color;
    color: map-get($colors, 'dark-text');

    &:hover {
      background: darken($primary-color, 10%);
    }

    &:active {
      background: darken($primary-color, 15%);
    }
  }

  &-accent {
    $accent-color: map-get($colors, 'accent');

    background: $accent-color;
    color: map-get($colors, 'dark-text');

    &:hover {
      background: darken($accent-color, 10%);
    }

    &:active {
      background: darken($accent-color, 15%);
    }
  }
}
