.cardsview {
  background: var(--color-background-900);

  &-container {
    @extend %container;
    @include responsive-block('mobile') {
      padding: 8rem 0;
    }

    padding: 12rem 0;
  }

  &-top {
    margin-bottom: 5rem;
  }

  &-offset-title {
    @include responsive-block ('mobile') {
      margin-top: 2rem;

      &:first-of-type {
        margin-top: 0;
      }
    }
    @include responsive-block ('tablet') {
      margin-top: 2rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

    color: var(--color-text-100);
    font-size: map-get($font-sizes, 'large');
    margin: -0.3em 0 0 0;
  }
}
