.cardsview {
  background: map-get($colors, 'primary');

  &-container {
    @extend %container;

    padding: 12rem 0;
  }

  &-top {
    margin-bottom: 5rem;
  }

  &-offset-title {
    color: map-get($colors, 'dark-text');
    font-size: map-get($font-sizes, 'large');
    margin: -0.3em 0 0 0;
  }
}
