.footer {
  @include responsive-block('mobile') {
    padding: 8rem 0;
  }

  background: var(--color-background-900);
  padding: 10rem 0 9rem;

  &-container {
    @extend %container;

    @include responsive-block('mobile') {
      margin: 0 1rem;
      text-align: center;
    }
  }
}
