// Used to calculate font sizes between the systemized sizes.
@function intermediate-font-size (
  $fraction,
  $small: map-get($font-sizes, "large"),
  $large: map-get($font-sizes, "huge")) {
  @return $small + ($fraction * ($large - $small));
}

%markdown {
  h1,
  h2,
  h3,
  h4 {
    margin: 2rem 0 1.25rem;
  }

  h5,
  h6 {
    margin: 1.5rem 0 0.75rem;
  }

  h1 {
    font-size: map-get($font-sizes, "huge");
  }

  h2 {
    font-size: intermediate-font-size(4 / 7);
  }

  h3 {
    font-size: intermediate-font-size(2 / 7);
  }

  h4 {
    font-size: map-get($font-sizes, "large");
  }

  h5 {
    font-size: map-get($font-sizes, "medium");
  }

  h6 {
    font-size: map-get($font-sizes, "small");
  }

  p {
    margin-bottom: 1.25rem;
    margin-top: 0;
  }

  ul,
  ol {
    margin: 0 0 1.25rem;
    padding-left: 3rem;
  }
}
