.masthead {
  @extend %container;
  @include responsive-block('mobile') {
    margin-bottom: 8rem;
    margin-top: 6rem;
  }

  margin-bottom: 14rem;
  margin-top: 12rem;

  &-dense {
    margin-bottom: 8rem;
    margin-top: 6rem;
  }

  &-title {
    font-size: map-get($font-sizes, 'huge');
    letter-spacing: -0.02em;
    margin: 0 0 0.9em 0;
  }

  &-subtitle {
    font-size: map-get($font-sizes, 'large');
    letter-spacing: -0.02em;
    margin: 0 0 2.2em 0;
  }
}
