.masthead {
  @extend %container;

  margin-bottom: 14rem;
  margin-top: 12rem;

  &-title {
    font-size: map-get($font-sizes, 'huge');
    margin: 0 0 0.9em 0;
  }

  &-subtitle {
    font-size: map-get($font-sizes, 'large');
    margin: 0 0 2.2em 0;
  }
}
