.navbar {
  background: map-get($colors, 'background');

  &-container {
    @extend %container;

    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  &-spacer {
    flex-grow: 1;
  }

  %navbar-item {
    border-radius: 1rem;
    color: map-get($colors, 'text');
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
  }

  &-item {
    @extend %navbar-item;
    @include transition('background');

    background: map-get($colors, 'background');
    font-weight: bold;
    margin: 1rem 0 1rem 1rem;
    text-decoration: none;

    &-active {
      background: darken(map-get($colors, 'background'), 5%);
    }

    &:hover {
      background: darken(map-get($colors, 'background'), 10%);
    }

    &:active {
      background: darken(map-get($colors, 'background'), 15%);
    }
  }

  &-logo {
    @extend %navbar-item;

    margin: 1rem 0;
    user-select: none;
  }
}
