.navbar {
  @extend %container;

  align-items: center;
  display: flex;
  flex-direction: row;

  &-spacer {
    flex-grow: 1;
  }

  %navbar-item {
    border-radius: 100rem;
    display: inline-block;
    font-size: map-get($font-sizes, 'small');
    font-weight: bold;
    letter-spacing: +0.03em;
    text-transform: uppercase;
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      @extend %navbar-item;
      @include transition('all');

      background: rgba(0, 0, 0, 0);
      color: transparentize(map-get($colors, 'text'), 0.25);
      margin: 1rem 0 1rem 1rem;
      padding: 1rem;
      text-decoration: none;

      &-active {
        color: map-get($colors, 'text');
      }

      &:hover {
        background: darken(map-get($colors, 'background'), 10%);
        color: transparentize(map-get($colors, 'text'), 0.1);
      }

      &:active {
        background: darken(map-get($colors, 'background'), 15%);
      }
    }
  }

  &-logo {
    @extend %navbar-item;

    display: inline;
    margin: 0;
    user-select: none;
  }
}
