html {
  color: var(--color-text-900);
  font-family: 'Open Sans', sans-serif;
  font-size: var(--type-size-200);
  line-height: 1.8;
}

body {
  align-items: stretch;
  background: var(--color-background-100);
  display: flex;
  flex-direction: column;
}

main {
  // Enable grow to create a sticky footer when the page content height is smaller
  // than the viewport height.
  flex-grow: 1;
}

a {
  color: var(--color-accent-400);
  font-weight: bold;

  &:hover {
    color: var(--color-accent-500);
  }

  &:active {
    color: var(--color-accent-600);
  }
}

h1,
h2,
h3,
h4 {
  margin: 2rem 0 1.25rem;
}

h5,
h6 {
  margin: 1.5rem 0 0.75rem;
}

h1 {
  font-size: var(--type-size-800);
}

h2 {
  font-size: var(--type-size-700);
}

h3 {
  font-size: var(--type-size-600);
}

h4 {
  font-size: var(--type-size-500);
}

h5 {
  font-size: var(--type-size-300);
}

h6 {
  font-size: var(--type-size-200);
}

p {
  margin-bottom: 1.25rem;
  margin-top: 0;
}

ul,
ol {
  margin: 0 0 1.25rem;
  padding-left: 3rem;
}

pre,
code {
  font-family: 'Fira Code', monospace;
}

code {
  color: var(--color-highlight-inline);
}

pre > code {
  color: var(--color-highlight-text);
}

pre {
  background: var(--color-highlight-background);
  line-height: 1.6;
  overflow: auto;
  // For some reason overflow: auto does not make the overflow scrollable, but
  // instead makes the parent element wider.
  // Wrap the lines until it's figured out.
  padding: 2em 1.618em;
  white-space: pre-wrap;
}
