html {
  color: map-get($colors, 'text');
  font-family: 'Open Sans', sans-serif;
  font-size: map-get($font-sizes, 'small');
  line-height: 1.8;
}

body {
  align-items: stretch;
  background: map-get($colors, 'background');
  display: flex;
  flex-direction: column;
}

main {
  // Enable grow to create a sticky footer when the page content height is smaller
  // than the viewport height.
  flex-grow: 1;
}
