%container {
  @include responsive-block('mobile') {
    max-width: map-get($screen-widths, 'mobile');
    margin: 0 1rem;
  }

  @include responsive-block('tablet') {
    max-width: map-get($screen-widths, 'tablet');
  }

  @include responsive-block('small') {
    max-width: map-get($screen-widths, 'small');
  }

  @include responsive-block('large') {
    max-width: map-get($screen-widths, 'large');
  }

  display: block;
  margin: 0 auto;
  padding: 0;
}
