.l-offset {
  column-gap: 3.236rem;
  display: grid;
  row-gap: 3.236rem;

  &-start {
    @include responsive-block('mobile') {
      grid-template-columns: 1fr;
    }

    grid-template-columns: 5fr 2fr;
  }

  &-end {
    @include responsive-block('mobile') {
      grid-template-columns: 1fr;
    }

    grid-template-columns: 3fr 5fr;
  }

  &-item {
    &-start {
      grid-column: 1 / 2;
    }

    &-end {
      grid-column: 2 / 3;
    }
  }
}
