.l-single {
  @extend %container;

  display: flex;
  padding: 4rem 0;

  &-toc {
    @include responsive-block ('mobile') {
      display: none;
    }
    @include responsive-block ('tablet') {
      display: none;
    }

    margin-right: 1.5rem;
    min-width: 13em;
  }
}
